@font-face {
    font-family: poppins;
    src: url(./assets/Poppins-Light.ttf);
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: poppins, 'Trebuchet MS';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    border: 1px solid rgb(35,47,62);
    background-color: rgb(35,47,62);
}

footer {
    text-align: center;
    background-color: rgb(35,47,62);
}

.loginNav {
    text-align: center;
}

.logo {
    width: 150px;
}

.logoFooter {
    width: 120px;
}

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loginFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(246, 248, 250);
    gap: 30px;
    width: 400px;
    height: 450px;
    background-color: rgb(233, 236, 239);
    border-radius: 10px;
}

.loginFormContainer > h1 {
    font-size: 24px;
}

.loginFormContainer > input {
    width: 250px;
    height: 25px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    font-family: inherit;
}

.loginFormContainer > div > input {
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(250,132,30);
    border: 1px solid rgb(250,132,30);
    margin: 0px 10px;
    font-family: inherit;
    color: white;
}

.shoppingCartIcon {
    width: 2rem;
    filter: invert(100%);
}

.searchIcon {
    width: 1.2rem;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    color: white;
    font-size: 1.2rem;
    align-items: center;
}

.mainHeader {
    position: sticky;
    top: 0px;
    z-index: 10;
}

.searchContainer {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 0px 30px;
    height: 2.5rem;
}

.searchContainer > select {
    text-align: center;
    background-color: rgb(243, 242, 242);
    color: rgb(105, 103, 103);
    border: 1px;
    border-radius: 5px 0px 0px 5px;
    font-family: inherit;
}

.searchContainer > select:hover {
    background-color: rgb(175, 175, 175);
    color: white;
}

#search {
    flex: 1;
    max-width: 80%;
    border: 1px solid white;
    padding: 0px 10px;
    font-family: inherit;
}

.searchIconContainer {
    border: solid 1px rgb(243,168,71);
    padding: 0px 1rem;
    background-color: rgb(243,168,71);
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIconContainer:hover {
    background-color: rgb(221, 144, 44);
    border: 1px solid rgb(221, 144, 44);
    cursor: pointer;
}

.subHeader {
    display: flex;
    gap: 25px;
    background-color: rgb(44, 59, 78);
    padding: 5px 30px;
}

.subHeader > a {
    color: white;
    text-decoration: none;
}

.subHeader > a:hover {
    font-weight: bold;
    color: rgb(250,132,30);
}

.headerRight, .cartDetail {
    display: flex;
    align-items: center;
}

.headerRight {
    gap: 50px;
}

.cartDetail {
    gap: 10px;
}

.catagoryNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 5px 30px 50px;
    gap: 20px;
}

.catagoryNav > a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

.catagoryNav > a:hover {
    color: rgb(250,132,30);
}

.indexMain {
    display: grid;
    grid-template-columns: 220px 1fr 20fr;
}

hr {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 98%;
    width: 1px;
    align-self: flex-start;
}

.selection {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 50px;
    padding: 30px 20px;
}

.productCard {
    border: 1px gray solid;
    border-radius: 10px;
    display: grid;
    grid-template-areas: "image image"
                         "title title"
                         "category rating"
                         "price addToCart";
    grid-template-rows: 9fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr ;
    height: 400px;
    align-items: center;
    padding: 10px;
    position: relative;
    transition: all .1s ease-in;
    right: 0;
    bottom: 0;
    animation: fadein 3s;
}

.productCard:hover {
    right: 5px;
    bottom: 5px;
    box-shadow: 20px 20px 20px rgba(33,33,33,.2);
}

.productCard > h3 {
    margin: 5px;
}

.productCard > h3 {
    grid-area: category;
    padding: 0;
    margin-left: 10px;
    align-self: center;
    font-size: 0.9rem;
}

.rating {
    grid-area: rating;
    justify-self: flex-end;
}

.price {
    grid-area: price;
    margin-left: 10px;
    font-size: 25px;
}

.productCard > button {
    grid-area: addToCart;
    padding: 10px;
    border: 1px solid rgb(250,132,30);
    background-color: rgb(250,132,30);
    border-radius: 5px;
    color: white;
    font-family: inherit;
    justify-self: flex-end;
    align-self: center;
}

.productCard > h2 {
    padding: 0;
    grid-area: title;
    margin: 10px 10px 0px 10px;
}

.productCard > .productImageContainer {
    justify-self: center;
    grid-area: image;
    height: 200px;
    align-self: center;
}

.productCard img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}